

<div class="container">
    <form action="/" method="post">
      <div class="champ">
        <label for="nom">Nombre :</label>
        <input type="text" id="nombre" name="nombre"  required>
      </div>
        <div class="champ" >
          <label for="select">Selection liste :</label>
          <input type="text" id="select" name="select" required>
        </div>
      <div class="champ" >
        <label for="tirage">Libellé Tirage :</label>
        <input type="text" id="tirage" name="tirage"  required>
      </div>
      <div class="lastLine">
        <a>Importer un fichier</a>
        <div class="submit">
          <button type="submit">Tirer</button>
        </div>
      </div>
      
    </form>
  </div>
   
