
<body>

  <!-- <header>
    <div class="topnav">
        <a href="#">
            <h1 class="logo_titre">FreeTirage</h1>
        </a>
        <ul class="menu">
      <a href="#">Acceuil</a>
      <a href="#">Tirage</a>
    </ul>
      <form >
        <input type="search" name="R" placeholder="Recherche" size="30" >
       
    </form>
    </div></header> -->
    <main>
    <div class="content">
        
            <div class="sp">
        <p>LISTE 1 :30 PERSONNES</p>
            </div>
            <div class="b"><p>Importer le :30/07/2022</p>
            </div>
            <div>
                    <div class="sp">
                <p>LISTE DE TIRAGE</p>
                    </div>
              
                <table style="width:100%">
                
                    <tr>
                      <th style="width:50%">Libellé Tirage</th>
                      <th style="width:50%">Nombres tirés</th>
                    </tr>
                    <tr>
                      <td><a routerLink="/detailtirage" routerLinkActive="active">Tirage1</a></td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <td>Tirage 2</td>
                      <td>12</td>
                    </tr>
                    <tr>
                        <td>Tirage 3</td>
                        <td>12</td>
                      </tr>
                  </table>
                
            </div>
    </div>
  </main>
</body>
