.content {
  background-color: white;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}
.sp{
  background-color:#209F85 ;
  border-radius: 10px;
  height: 45px;
  margin: 50px;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1px;
  color: white;
}
thead tr {
  border-radius: 80%;
  background-color: #209F85;
  color: #ffffff ; 
}
table{
  border-collapse: collapse;
 
}

th, td{
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  
}
 th{ border: none; }