


<!-- <div class="container">
  <form>
   
      <div class="champ">
        <label for="select">Libelle Liste : </label>
         <input type="text" id="tirage" name="libelleListe" [(ngModel)]="libelleListe" required> 
      </div>
    <div class="champ">
      <label for="tirage">Libellé Tirage :</label>
      <input type="file"  name="libelletirage" [(ngModel)]="libelletirage" required>
    </div>
    <div class="lastLine">
      <div class="submit">
        <button type="submit" (click)="PostTirage()">Tirer</button>
      </div>
    </div>
    
  </form> -->
