
<div class="container">
  <div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
              <svg xmlns="http://www.w3.org/2000/svg" width="300" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <h1>Liste tirées</h1>
                <h3>12</h3>
            </div>
        </div>
        <div class="card">
            <div class="box">
              <svg xmlns="http://www.w3.org/2000/svg" width="300" height="50"  fill="currentColor" class="bi bi-dice-6" viewBox="0 0 16 16">
                <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
                <h1>Tirage Total</h1>
                <h3 >{{nombre}}</h3>
            </div>
        </div>
        <div class="card">
            <div class="box">
              <svg xmlns="http://www.w3.org/2000/svg"width="300" height="50" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <h1>Listes par tirées</h1>
              <div class="next">
                <a routerLink="/liste" routerLinkActive="active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="100" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                </a>
              </div>
            </div>

        </div>
    </div>
  </div>
</div>
<div class="legend-graph">
  <H1>DONNEE STATISTIQUES :</H1>
<div id="sidebar" role="complementary">
  <aside>

 <header>
    <h3>LEGENDES</h3>
</header>
<ul>
  <li>dfdf</li>
  <li>dfdf</li>
  <li>dfdf</li>
  <li>dfdf</li>
</ul>
 <br></aside>
 </div>

 <div class="chart-wrapper">
      <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="barChartType"
          >
    </canvas>
</div>

<!-- <div class="chart-container">

<canvas id="barCanvas" aria-label="chart" role="img" ></canvas>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script>

  const barCanvas = document.getElementById("barCanvas");

  const barChart = new Chart(barCanvas,{
    type:"bar",
    data:{
      labels:["beijeing","seoul","Tokyo","Hong kong"],
      dataset:[{

        data:[240,120,140,130]
      }

      ]
    }
  })
</script> -->

</div>
